{% extends "layout.html" %}
{% block title %} - Welcome{% endblock %}
{% block content %}
<div class="starter-template">
    <h1>Pick your side!</h1>

    <p class="lead">Receive goal alerts and match stats for all Premiere League, Bundesliga, La Liga, and Serie A clubs.<br>
        Compatible with any mobile phone via SMS.</p>

    <div class="details row">
        <div class="col-md-5 col-xs-2">
        </div>

        <div class="col-md-2 col-xs-8">
            <form class="form-horizontal" id="chargeForm" role="form" action="/verify" method="post">

                <div class="league row">
                    <div class="form-group">
                        <select class="form-control" name="league" id="league_id">
                            <option value="">Choose League</option>
                            {% for league in leagues %}
                            <option value="{{ league.league_id }}">{{ league.league_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="team row">
                    <div class="form-group">
                        {% for league in leagues %}
                        <select class="form-control" name="team" id="{{ league.league_id }}_team_id"
                                style="display: none;" >
                            <option value="">Choose Team</option>
                            {% for team in teams %}
                            {% if league.league_id==team.league_id %}
                            <option  value="{{ team.team_id }}" >{{ team.team_name }} </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        {% endfor %}
                    </div>
                </div>

                <div class="space row">
                    <div class="col-md-12 col-xs-12">
                        &nbsp;
                    </div>
                </div>

                <div class="prefix row">
                    <div class="form-group">

                        <select class="form-control" name="prefix" id="prefix_id">
                            <option value="">Choose prefix</option>
                            {% for prefix in prefixes %}
                            <option value="{{ prefix.prefix_value }}">{{ prefix.prefix_name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>

                <div class="phone_number row">
                    {% if phone_number.valid==True %}
                    <div class="form-group">
                    {% elif phone_number.valid==False %}
                    <div class="form-group has-error">
                    {% endif %}

                        <input type="tel" class="form-control" id="phone_number_id"
                               name="phone_number" placeholder="mobile number"
                               value="{{ phone_number.value }}">

                    </div>
                </div>

                <div class="service row">
                    <div class="input-group checkbox text-left" id="service_id"
                         style="display: none;">
                        {% for service in services %}
                        <label>
                            <input id="{{ service }}_id" type="radio"
                                   name="service"
                                   value="{{ service }}">
                                {{ services[service] }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="space row">
                    <div class="col-md-12 col-xs-12">
                        &nbsp;
                    </div>
                </div>

                <div class="button_stripe row">
                    <div class="form-group stripe_button row">

                        <script src="https://checkout.stripe.com/checkout.js"></script>

                        <button id="CustomStripeButton" class="btn btn-success btn-block" disabled> 
                            Pay
                        </button>
                                      
                        <input type="hidden" name="single_team" id="single_team_id" value="False" />
                        <input type="hidden" name="stripeToken" id="stripeToken" />
                        <input type="hidden" name="stripeEmail" id="stripeEmail" />
                        <input type="hidden" name="stripeName" id="stripeName" />

                        <input type="hidden" name="service_chosen" id="service_chosen_id" value="" />
                        <input type="hidden" name="service_amount" id="service_amount_id" value="" />
                        <input type="hidden" name="currency" id="currency_id" value="" />

                        <input type="hidden" name="league_chosen" id="league_chosen_id" value="" />
                        <input type="hidden" name="team_chosen" id="team_chosen_id" value="" />
                        <input type="hidden" name="prefix_chosen" id="prefix_chosen_id" value="" />

                        {% for payment in payments %}
                        <input type="hidden" name="{{ payment.name }}" id="{{ payment.name }}_id"
                               value="{{ payment.value_int }}" />
                        {% endfor %}

                        <input type="hidden" name="box" id="box_id" value="" />
                          
                        <script>

                            var handler = StripeCheckout.configure({
                                key: '{{ key }}',
                                token: function(token, args) {
                                    document.getElementById("stripeToken").value = token.id;
                                    document.getElementById("stripeEmail").value = token.email;
                                    document.getElementById("stripeName").value = args.billing_name;
                                    document.getElementById("chargeForm").submit();
                                    // Use the token to create the charge with a server-side script.
                                    // You can access the token ID with `token.id`
                                }
                            });

                            document.getElementById('CustomStripeButton').addEventListener('click', function(e) {

                                // Open Checkout with further options
                                var amount = parseInt($("#service_amount_id").val());
                                var currency= $("#currency_id").val();
                                handler.open({
                                    name: '{{ company }}',
                                    description: 'Please enter your details',
                                    amount: amount,
                                    currency: currency,
                                    billingAddress: true
                                });
                                e.preventDefault();
                            });


                            // FUNCTION FOR LEAGUE DROPDOWN CHANGE
                            document.getElementById('league_id').addEventListener('change', function() {

                                // reset values
                                document.getElementById('team_chosen_id').value = "";
                                document.getElementById('service_chosen_id').value = "";
                                document.getElementById('league_chosen_id').value = "";
                                document.getElementById('service_amount_id').value = "";

                                {% for league in leagues %}
                                document.getElementById('{{ league.league_id }}'.concat('_team_id')).style.display = 'none';
                                document.getElementById('{{ league.league_id }}'.concat('_team_id')).value = "";
                                {% endfor %}

                                {% for service in services %}
                                document.getElementById('service_id').style.display = 'none';
                                document.getElementById('{{ service }}_id').checked = false;
                                {% endfor %}

                                document.getElementById("CustomStripeButton").innerHTML = "Pay";
                                document.getElementById("CustomStripeButton").disabled = true;

                                league = document.getElementById('league_id').value;

                                document.getElementById(league.concat('_team_id')).style.display = 'block';
                                document.getElementById('league_chosen_id').value = league;

                            });


                            // FUNCTION FOR TEAM DROPDOWN CHANGE
                            {% for league in leagues %}
                            document.getElementById('{{ league.league_id }}'.concat('_team_id')).addEventListener('change', function() {

                                // reset values
                                document.getElementById('service_chosen_id').value = "";
                                document.getElementById('service_amount_id').value = "";

                                {% for service in services %}
                                document.getElementById('service_id').style.display = 'none';
                                document.getElementById('{{ service }}_id').checked = false;
                                {% endfor %}

                                document.getElementById("CustomStripeButton").innerHTML = "Pay";
                                document.getElementById("CustomStripeButton").disabled = true;

                                team = document.getElementById('{{ league.league_id }}'.concat('_team_id')).value;
                                document.getElementById('team_chosen_id').value = team;

                                var service_str = document.getElementById('service_chosen_id').value;
                                var prefix_str = document.getElementById('prefix_id').value;

                                if (prefix_str.length > 0) {

                                    {% for service in services %}
                                    document.getElementById('service_id').style.display = 'block';
                                    document.getElementById('{{ service }}_id').checked = false;
                                    {% endfor %}
                                }


                            });
                            {% endfor %}


                            // FUNCTION FOR PREFIX DROPDOWN CHANGE
                            document.getElementById('prefix_id').addEventListener('change', function() {

                                document.getElementById('currency_id').value = "";
                                prefix = document.getElementById('prefix_id').value;
                                document.getElementById('prefix_chosen_id').value = prefix;
                                var service_str = document.getElementById('service_chosen_id').value;
                                var team_str = document.getElementById('team_chosen_id').value;

                                {% for prefix in prefixes %}
                                    if ( '{{ prefix.prefix_value }}' == prefix) {
                                        document.getElementById('currency_id').value = '{{ prefix.prefix_currency }}';
                                    }
                                {% endfor %}


                                if (team_str.length > 0) {
                                    document.getElementById('service_id').style.display = 'block';
                                }

                                document.getElementById("CustomStripeButton").innerHTML = "Pay";
                                document.getElementById("CustomStripeButton").disabled = true;

                                if (service_str.length > 0 & team_str.length > 0) {

                                    var currency_str = document.getElementById('currency_id').value;
                                    var service_str = service_str;
                                    var league_str = document.getElementById('league_chosen_id').value;
                                    var payment_str = currency_str + '_' + service_str + '_' + league_str + '_' + prefix;
                                    var value_amount = parseInt(document.getElementById(payment_str + '_id').value);
                                    var value_amount_dec = value_amount / 100.00;

                                    document.getElementById("service_amount_id").value = parseInt(value_amount);

                                    {% for payment in payments %}
                                    if (payment_str == "{{ payment.name }}") {
                                        document.getElementById("CustomStripeButton").innerHTML = "Pay {{ payment.currency_html|safe }}" + value_amount_dec.toFixed(2);
                                        document.getElementById("CustomStripeButton").disabled = false;
                                    }
                                    {% endfor %}

                                }

                            });

                            // FUNCTION FOR RADIO BUTTONS SERVICE CHOICE

                            {% for service in services %}
                            document.getElementById('{{ service }}_id').addEventListener('click', function() {

                                document.getElementById('service_chosen_id').value = '{{ service }}';

                                var currency_str = document.getElementById('currency_id').value;
                                var service_str = '{{ service }}';
                                var league_str = document.getElementById('league_chosen_id').value;
                                var payment_str = currency_str + '_' + service_str + '_' + league_str + '_' + prefix;
                                var value_amount = parseInt(document.getElementById(payment_str + '_id').value);
                                var value_amount_dec = value_amount / 100.00;
                                var team_str = document.getElementById('team_chosen_id').value;

                                document.getElementById("service_amount_id").value = parseInt(value_amount);

                                {% for payment in payments %}
                                if (payment_str == "{{ payment.name }}" & team_str.length > 0) {
                                    document.getElementById("CustomStripeButton").innerHTML = "Pay {{ payment.currency_html|safe }}" + value_amount_dec.toFixed(2);
                                    document.getElementById("CustomStripeButton").disabled = false;
                                }
                                {% endfor %}

                            });
                            {% endfor %}




                        </script>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-5 col-xs-2">
        </div>
    </div>
</div>
{% endblock %}