{% extends "layout.html" %}
{% block title %} - About{% endblock %}
{% block content %}
<div class="starter-template">
    <h1>What do you get?</h1>

    <p class="lead">No app, no hidden charges, no contract. This service will keep you updated during the season.<br>
        For just {{ payment.currency_html|safe }}{{ payment.amount }}
        you will receive live goal updates via text message.<br><br>
        Whenever your team is playing and there is an update
        on the score board you will be notified - whether you are abroad, in the office or cannot
        watch your team play.<br><br>
        This service is valid throughout the season for the Premier League, Bundesliga, Champions and Europa League and stops automatically at the
        end.
    </p>
</div>
{% endblock %}