{% extends "layout.html" %}
{% block title %} - About{% endblock %}
{% block content %}
<div class="starter-template">
    <div class="intro row">
        <h1>What do you get?</h1>

        <p class="lead">No app, no hidden charges, no contract. This service will keep you updated about your favourite
            football club.<br><br>
            Reliable per SMS - whether you are abroad, in the office or cannot watch your team play live.<br><br>
            There are 3 services for you to choose from (Bronze, Silver, Gold):
        </p>
    </div>

    <div class="services row">
        <div class="col-md-2 col-xs-2">
        </div>

        <div class="col-md-8 col-xs-8">


            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th>Bronze</th>
                    <th>Silver</th>
                    <th>Gold</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Kick-off SMS</th>
                    <td></td>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                </tr>
                <tr>
                    <th scope="row">Full time SMS</th>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                </tr>
                <tr>
                    <th scope="row">Live Goal SMS</th>
                    <td></td>
                    <td></td>
                    <td>&#10004;</td>
                </tr>
                <tr>
                    <th scope="row">Matchday results SMS</th>
                    <td></td>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                </tr>
                </tbody>
            </table>


        </div>

        <div class="col-md-2 col-xs-2">
        </div>
    </div>

    <div class="finish row">
        <p>
            All services are valid throughout the entire season for the Premier League, Bundesliga, Champions and Europa
            League. They terminate
            automatically at the end of the season.
        </p>
    </div>


</div>
{% endblock %}