{% extends "layout.html" %}
{% block title %} - Welcome{% endblock %}
{% block content %}
<div class="starter-template">
    <h1>Pick your side!</h1>

    <p class="lead">Receive goal alerts and match stats for all Premiere League and Bundesliga clubs.<br>
        Compatible with any phone via text message.</p>

    <div class="details row">
        <div class="col-md-5 col-xs-2">
        </div>

        <div class="col-md-2 col-xs-8">
            <form class="form-horizontal" id="chargeForm" role="form" action="/verify" method="post">

                <div class="league row">
                    <div class="form-group">
                        <select class="form-control" name="league" id="league_id">
                            {% for entry in leagues %}
                            <option value="{{ entry.league_id }}">{{ entry.league_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="team row">
                    {% if team_valid==True %}
                    <div class="form-group">
                        {% elif team_valid==False %}
                        <div class="form-group has-error">
                            {% endif %}


                                <select class="form-control" name="team" id="team_id">
                                    <option data-group='SHOW' value=no_team>Choose team</option>
                                    {% for entry in teams %}
                                    <option data-group={{ entry.league_id }} value="{{ entry.team_id }}" >{{
                                        entry.team_name }}
                                    </option>
                                    {% endfor %}
                                </select>

                        </div>
                    </div>


                    <div class="service row">
                        {% for entry in leagues %}
                        <div id="{{ entry.league_id }}_price_id" style="display: none;" >

                        {% for payment in payments %}
                            {% if entry.league_id==payment.league %}
                        <div class="input-group checkbox text-left" >
                            <label><input id={{ payment.name }} type="radio"
                                   name="service"
                                   value="{{ payment.value_int }}"/> {{ payment.title }} </label>
                        </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                        {% endfor %}
                    </div>


                    <div class="space row">
                        <div class="col-md-12 col-xs-12 input-group">
                            &nbsp;
                        </div>
                    </div>

                    <div class="phone_number row">
                        {% if phone_number.valid==True %}
                        <div class="form-group">
                            {% elif phone_number.valid==False %}
                            <div class="form-group has-error">
                                {% endif %}

                                    <input type="tel" class="form-control" id="phone_number_id"
                                           name="phone_number" placeholder="mobile no. (incl. prefix)"
                                           value="{{ phone_number.value }}">

                            </div>
                        </div>

                        <div class="button_stripe row">
                            <div class="form-group stripe_button row">



                                    <script src="https://checkout.stripe.com/checkout.js"></script>
                                      
                                    <input type="hidden" name="single_team" id="single_team_id" value="False" />
                                    <input type="hidden" name="stripeToken" id="stripeToken" />
                                    <input type="hidden" name="stripeEmail" id="stripeEmail" />
                                    <input type="hidden" name="stripeName" id="stripeName" />

                                    <input type="hidden" name="service_chosen" id="service_chosen" value="" />
                                    <input type="hidden" name="service-amount" id="service-amount" value="" />
                                    <input type="hidden" name="currency" id="currency" value="" />



                                    <button id="CustomStripeButton" class="btn btn-success btn-block" disabled> 
                                        Pay
                                    </button>
                                      

                                    <script>
                                              var handler = StripeCheckout.configure({
                                                key: '{{ key }}',
                                                token: function(token, args) {
                                                  document.getElementById("stripeToken").value = token.id;
                                                  document.getElementById("stripeEmail").value = token.email;
                                                  document.getElementById("stripeName").value = args.billing_name;
                                                  document.getElementById("chargeForm").submit();
                                                  // Use the token to create the charge with a server-side script.
                                                  // You can access the token ID with `token.id`
                                                }
                                              });

                                              document.getElementById('CustomStripeButton').addEventListener('click', function(e) {
                                                // Open Checkout with further options
                                                var amount = parseInt($("#service-amount").val());
                                                var currency= $("#currency").val();
                                                handler.open({
                                                  name: '{{ company }}',
                                                  description: 'Please enter your details',
                                                  amount: amount,
                                                  currency: currency,
                                                  billingAddress: true
                                                });
                                                e.preventDefault();
                                              });

                                              {% for payment in payments %}
                                              document.getElementById('{{ payment.name }}').addEventListener('click', function(a) {
                                                    document.getElementById("service_chosen").value = '{{ payment.name }}';
                                                    document.getElementById("currency").value = '{{ payment.currency }}';
                                                    document.getElementById("service-amount").value = parseInt(document.getElementById('{{ payment.name }}').value);
                                                    var value_amount = parseInt(document.getElementById('{{ payment.name }}').value) / 100.00
                                                    document.getElementById("CustomStripeButton").innerHTML = "Pay {{ payment.currency_html|safe }}" + value_amount.toFixed(2);
                                                    document.getElementById("CustomStripeButton").disabled = false;
                                               });
                                               {% endfor %}

                                               document.getElementById('team_id').addEventListener('change', function() {
                                                    val = document.getElementById("league_id").value;

                                                    {% for entry in leagues %}
                                                    document.getElementById('{{ entry.league_id }}'.concat('_price_id')).style.display = 'none';
                                                    {% endfor %}
                                                    document.getElementById(val.concat('_price_id')).style.display = 'block';

                                               });

                                              document.getElementById('league_id').addEventListener('change', function() {

                                                    {% for entry in leagues %}
                                                    document.getElementById('{{ entry.league_id }}'.concat('_price_id')).style.display = 'none';
                                                    {% endfor %}
                                                    document.getElementById("CustomStripeButton").innerHTML = "Pay";
                                                    document.getElementById("CustomStripeButton").disabled = true;

                                               });

                                </script>


                            </div>
                        </div>


            </form>
        </div>

        <div class="col-md-5 col-xs-2">
        </div>
    </div>

</div>


{% endblock %}