{% extends "layout.html" %}
{% block title %} - Welcome{% endblock %}
{% block content %}
<div class="starter-template">
    <h1>Pick your side!</h1>

    <p class="lead">Receive goal alerts and match stats for all Premiere League and Bundesliga clubs.<br>
        Compatible with any phone via text message.</p>

    <div class="details row">
        <div class="col-md-5 col-xs-2">
        </div>

        <div class="col-md-2 col-xs-8">
            <form class="form-horizontal" id="chargeForm" role="form" action="/verify" method="post">

                <div class="league row">
                    <div class="form-group">
                        <select class="form-control" name="league" id="league_id">
                            <option value="">Choose League</option>
                            {% for league in leagues %}
                            <option value="{{ league.league_id }}">{{ league.league_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="team row">
                    <div class="form-group">
                        {% for league in leagues %}
                        <select class="form-control" name="team" id="{{ league.league_id }}_team_id"
                                style="display: none;" >
                            <option value="">Choose Team</option>
                            {% for team in teams %}
                            {% if league.league_id==team.league_id %}
                            <option  value="{{ team.team_id }}" >{{ team.team_name }} </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        {% endfor %}
                    </div>
                </div>

                <div class="service row">
                    {% for league in leagues %}
                    {% for currency in currencies %}
                    <div id="{{ league.league_id }}_{{ currency }}_price_id" style="display: none;" >

                        {% for payment in payments %}

                        {% if league.league_id+currency==payment.league + payment.currency %}
                        <div class="input-group checkbox text-left" >
                            <label>
                                <input id={{ payment.name }} type="radio"
                                       name="service"
                                       value="{{ payment.value_int }}"/>
                                {{ payment.title }}
                            </label>
                        </div>
                        {% endif %}

                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>


                <div class="space row">
                    <div class="col-md-12 col-xs-12">
                        &nbsp;
                    </div>
                </div>

                <div class="phone_number row">
                    {% if phone_number.valid==True %}
                    <div class="form-group">
                    {% elif phone_number.valid==False %}
                    <div class="form-group has-error">
                    {% endif %}

                        <input type="tel" class="form-control" id="phone_number_id"
                               name="phone_number" placeholder="mobile no. (incl. prefix)"
                               value="{{ phone_number.value }}">

                    </div>
                </div>

                <div class="button_stripe row">
                    <div class="form-group stripe_button row">

                        <script src="https://checkout.stripe.com/checkout.js"></script>
                                      
                        <input type="hidden" name="single_team" id="single_team_id" value="False" />
                        <input type="hidden" name="stripeToken" id="stripeToken" />
                        <input type="hidden" name="stripeEmail" id="stripeEmail" />
                        <input type="hidden" name="stripeName" id="stripeName" />

                        <input type="hidden" name="service_chosen" id="service_chosen" value="" />
                        <input type="hidden" name="service_amount" id="service_amount" value="" />
                        <input type="hidden" name="currency" id="currency" value="" />

                        {% for team in teams %}
                        <input type="hidden" name="{{ team.team_id }}_currency"
                               id="{{ team.team_id }}_currency" value="{{ team.currency }}" />
                        {% endfor %}


                        <input type="hidden" name="box" id="league_chosen_id" value="" />
                        <input type="hidden" name="box" id="team_chosen_id" value="" />
                                
                        <button id="CustomStripeButton" class="btn btn-success btn-block" disabled> 
                            Pay
                        </button>
                                      
                        <script>
                            var handler = StripeCheckout.configure({
                                key: '{{ key }}',
                                token: function(token, args) {
                                    document.getElementById("stripeToken").value = token.id;
                                    document.getElementById("stripeEmail").value = token.email;
                                    document.getElementById("stripeName").value = args.billing_name;
                                    document.getElementById("chargeForm").submit();
                                    // Use the token to create the charge with a server-side script.
                                    // You can access the token ID with `token.id`
                                }
                            });

                            document.getElementById('CustomStripeButton').addEventListener('click', function(e) {

                                // Open Checkout with further options
                                var amount = parseInt($("#service_amount").val());
                                var currency= $("#currency").val();
                                handler.open({
                                    name: '{{ company }}',
                                    description: 'Please enter your details',
                                    amount: amount,
                                    currency: currency,
                                    billingAddress: true
                                });
                                e.preventDefault();
                            });

                            // FUNCTION FOR RADIO BUTTONS SERVICE CHOICE
                            {% for payment in payments %}
                            document.getElementById('{{ payment.name }}').addEventListener('click', function() {

                                document.getElementById("service_chosen").value = '{{ payment.name }}';
                                document.getElementById("currency").value = '{{ payment.currency }}';
                                document.getElementById("service_amount").value = parseInt(document.getElementById('{{ payment.name }}').value);

                                var value_amount = parseInt(document.getElementById('{{ payment.name }}').value) / 100.00;
                                document.getElementById("CustomStripeButton").innerHTML = "Pay {{ payment.currency_html|safe }}" + value_amount.toFixed(2);
                                document.getElementById("CustomStripeButton").disabled = false;
                            });
                            {% endfor %}

                            // FUNCTION FOR TEAM DROPDOWN CHANGE
                            {% for league in leagues %}
                            document.getElementById('{{ league.league_id }}'.concat('_team_id')).addEventListener('change', function() {

                                team = document.getElementById('{{ league.league_id }}'.concat('_team_id')).value;
                                document.getElementById('team_chosen_id').value = team;
                                currency = document.getElementById(team.concat('_currency')).value;

                                {% for league2 in leagues %}
                                {% for currency2 in currencies %}
                                document.getElementById('{{ league2.league_id }}_{{ currency2 }}_price_id').style.display = 'none';
                                {% endfor %}
                                {% endfor %}

                                if (team != '') {
                                    document.getElementById('{{ league.league_id }}'.concat('_', currency ,'_price_id')).style.display = 'block';
                                }

                                document.getElementById("CustomStripeButton").innerHTML = "Pay";
                                document.getElementById("CustomStripeButton").disabled = true;

                                //Make all radio buttons deselected:
                                {% for payment in payments %}
                                document.getElementById('{{ payment.name }}').checked = false;
                                {% endfor %}


                            });
                            {% endfor %}

                            // FUNCTION FOR LEAGUE DROPDOWN CHANGE
                            document.getElementById('league_id').addEventListener('change', function() {

                                {% for league in leagues %}
                                {% for currency in currencies %}
                                document.getElementById('{{ league.league_id }}_{{ currency }}_price_id').style.display = 'none';
                                document.getElementById('{{ league.league_id }}'.concat('_team_id')).style.display = 'none';
                                document.getElementById('{{ league.league_id }}'.concat('_team_id')).value = "";
                                {% endfor %}
                                {% endfor %}

                                league = document.getElementById('league_id').value;
                                document.getElementById(league.concat('_team_id')).style.display = 'block';
                                document.getElementById('league_chosen_id').value= league;
                                document.getElementById('team_chosen_id').value = "";

                                document.getElementById("CustomStripeButton").innerHTML = "Pay";
                                document.getElementById("CustomStripeButton").disabled = true;
                            });

                        </script>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-5 col-xs-2">
        </div>
    </div>
</div>
{% endblock %}