{% extends "layout.html" %}
{% block title %} - Success{% endblock %}
{% block content %}
<div class="starter-template">
    <h1>Success!</h1>

    <div class="text row">
        <div class="col-md-12 col-xs-12">
            <p class="lead">You are all signed up for the Euro.<br>Go and tell a friend about us by sending them an e-mail:</p>
        </div>
    </div>

    <div class="button_stripe row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2 col-xs-12">
            <a href="
mailto:?subject=Easy goal alerts via sms&body=Hey,%0D%0A%0D%0A I just signed up to receive sms goal alerts.
It is very easy and cheap. Just go on www.goalsms.com to sign up, it only takes 2 minutes.
%0D%0A%0D%0A Thanks!"
               class="btn btn-success btn-block" role="button">Send e-mail</a>
        </div>
        <div class="col-md-5">
        </div>
    </div>

</div>
{% endblock %}