{% extends "layout.html" %}
{% block title %} - Welcome{% endblock %}
{% block content %}
<div class="starter-template">
    <h1>{{ team }} </h1>

    <p class="lead">Receive goal alerts for all {{ team }} games in all competitions of this season.<br>
        Compatible with any phone.</p>

    <div class="details row">
        <div class="col-md-5 col-xs-2">
        </div>

        <div class="col-md-2 col-xs-8">
        <form class="form-horizontal" id="chargeForm" role="form" action="/verify" method="post">

            <div class="team row">
                <div class="col-md-12 col-xs-12 input-group">
                    <input type="hidden" name="team" id="team_id" value="{{ team_value }}"/>
                </div>
            </div>

            <div class="league row">
                <div class="col-md-12 col-xs-12 input-group">
                    <input type="hidden" name="league" id="league_id" value="{{ league_value }}"/>
                </div>
            </div>

            <div class="service row">
                    <div class="col-md-12 col-xs-12 checkbox">
                        <input type="checkbox" name="service" value="bronze" checked> Basic
                    </div>
                    <div class="col-md-12 col-xs-12 checkbox">
                        <input type="checkbox" name="service" value="silver" checked> + Kick off, Full time score and competition results alerts
                    </div>
                    <div class="col-md-12 col-xs-12 checkbox">
                        <input type="checkbox" name="service" value="gold" checked> + Live score alerts of every goal
                    </div>
            </div>

            <div class="space row">
                <div class="col-md-12 col-xs-12 input-group">
                    &nbsp;
                </div>
            </div>

            <div class="phone_number row">
                {% if phone_number.valid==True %}
                <div class="form-group">
                {% elif phone_number.valid==False %}
                <div class="form-group has-error">
                {% endif %}
                    <div class="col-md-12 col-xs-12 input-group">
                        <input type="tel" class="form-control" id="phone_number_id"
                               name="phone_number" placeholder="mobile no. (incl. prefix)"
                               value="{{ phone_number.value }}">
                    </div>
                </div>
            </div>

            <div class="name row">
                {% if name.valid==True %}
                <div class="form-group">
                {% elif name.valid==False %}
                <div class="form-group has-error">
                {% endif %}
                    <div class="col-md-12 col-xs-12 input-group">
                        <input class="form-control" id="name_id"
                               name="name" placeholder="your name"
                               value="{{ name.value }}">
                    </div>
                </div>
            </div>

            <div class="button_stripe row">
                <div class="form-group stripe_button row">
                    <div class="col-md-12 col-xs-12">


                        <script src="https://checkout.stripe.com/checkout.js"></script>  

                        <input type="hidden" name="single_team" id="single_team_id" value="True"/>
                        <input type="hidden" name="stripeToken" id="stripeToken"/>
                        <input type="hidden" name="stripeEmail" id="stripeEmail"/>

                        <button id="CustomStripeButton" class="btn btn-success btn-block"> 
                            Pay {{ payment.currency_html|safe }}{{ payment.amount }} 
                        </button>  


                        <script>
	      var handler = StripeCheckout.configure({
	        key: '{{ key }}',
	        token: function(token, args) {
	          document.getElementById("stripeToken").value = token.id;
                  document.getElementById("stripeEmail").value = token.email;
                  document.getElementById("chargeForm").submit();
	          // Use the token to create the charge with a server-side script.
	          // You can access the token ID with `token.id`
	        }
	      });

              document.getElementById('CustomStripeButton').addEventListener('click', function(e) {
	        // Open Checkout with further options
	        handler.open({
	          name: '{{ company }}',
	          description: 'Please enter your details',
	          amount: {{ payment.amount_integer }},
	          currency: '{{ payment.currency }}',
	          billingAddress: true
	        });
	        e.preventDefault();
	      });
	                    </script>



                    </div>
                </div>
            </div>


        </form>
        </div>

        <div class="col-md-5 col-xs-2">
        </div>
    </div>

    <br>

    <div class="footer row 1">
        <div class="col-lg-2 col-xs-2">
        </div>
        <div class="col-lg-8 col-xs-8">
            <p align="center">
                <img src="/static/logos/{{ team_value }}.png" alt="{{ team }}" title="{{ team }}"/>
            </p>
        </div>
        <div class="col-lg-2 col-xs-2">
        </div>
    </div>

</div>
{% endblock %}